body {
  margin: 0;
  padding: 0;
}

.mylct_dmm {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.mylct_spr {
  display: inline-block;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  background: url(https://ssl.pstatic.net/sstatic/search/mobile/img/sp_my_lct_0dfeba75.png)
    0 0 no-repeat;
  -webkit-background-size: 38px 36px;
  background-size: 38px 36px;
  vertical-align: top;
}

.mylct_ico_del {
  width: 16px;
  height: 16px;
  background-position: -18px -20px;
}

.mylct_layer {
  overflow: hidden;
  position: relative;
  z-index: 9999;
  width: 300px;
  padding: 28px 32px 20px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: var(--boxShadowLevel4);
  box-shadow: var(--boxShadowLevel4);
  font-family: -apple-system, BlinkMacSystemFont, helvetica,
    Apple SD Gothic Neo, sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #222225;
  color: rgba(var(--gray10), 1);
  background-color: #fff;
  background-color: rgba(var(--bgSurface), 1);
}

.mylct_layer li,
.mylct_layer p,
.mylct_layer ul {
  margin: 0;
  padding: 0;
}

.mylct_layer a {
  text-decoration: none;
}

.mylct_layer em {
  font-style: normal;
}

.mylct_layer button,
.mylct_layer input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, helvetica,
    Apple SD Gothic Neo, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #222225;
  color: rgba(var(--gray10), 1);
  background: 0 0;
}

.mylct_layer .mylct_tit {
  display: block;
  font-size: 17px;
  line-height: 22px;
  word-break: keep-all;
}

.mylct_layer .mylct_dsc {
  margin-top: 8px;
  color: #555558;
  color: rgba(var(--gray30), 1);
}

.mylct_layer .mylct_tab {
  margin-top: 8px;
  font-size: 0;
}

.mylct_layer .mylct_tab .mylct_tab_a + .mylct_tab_a {
  margin-left: 13px;
}

.mylct_layer .mylct_tab .mylct_tab_a + .mylct_tab_a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 3px;
  height: 3px;
  margin-top: -1.5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #c5c5c7;
  background-color: rgba(var(--gray60), 1);
}

.mylct_layer .mylct_tab .mylct_tab_a {
  display: inline-block;
  position: relative;
  font-size: 15px;
  color: #0068c3;
  color: rgba(var(--blueLink), 1);
  vertical-align: top;
}

.mylct_layer .mylct_btn {
  display: block;
  width: 180px;
  height: 36px;
  margin: 16px auto 0;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 36px;
  color: #fff;
  background-color: #03aa5a;
  background-color: rgba(var(--searchGreen), 1);
}

.mylct_layer .mylct_btn.is_off {
  pointer-events: none;
  background-color: #c5c5c7;
  background-color: rgba(var(--gray60), 1);
}

.mylct_layer .mylct_btn.type_cancel {
  border: 1px solid;
  border-color: #e9e9ec;
  border-color: rgba(var(--gray80), 1);
  color: #444447;
  color: rgba(var(--gray20), 1);
  background: 0 0;
}

.mylct_layer .mylct_btn_area {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  gap: 6px;
}

.mylct_layer .mylct_sch {
  margin-top: 16px;
}

.mylct_layer .mylct_sch .mylct_sch_input {
  position: relative;
  height: 40px;
  padding: 9px 35px 0 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
  border-color: #c5c5c7;
  border-color: rgba(var(--gray60), 1);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  background-color: rgba(var(--bgSurface), 1);
}

.mylct_layer .mylct_sch .mylct_sch_input input {
  width: 100%;
  border: 0;
  font-size: 15px;
  line-height: 20px;
  color: #222225;
  color: rgba(var(--gray10), 1);
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
}

.mylct_layer
  .mylct_sch
  .mylct_sch_input
  input::-webkit-input-placeholder {
  font-size: 15px;
  color: #c5c5c7;
  color: rgba(var(--gray60), 1);
}

.mylct_layer .mylct_sch .mylct_sch_input input::placeholder {
  font-size: 15px;
  color: #c5c5c7;
  color: rgba(var(--gray60), 1);
}

.mylct_layer
  .mylct_sch
  .mylct_sch_input
  input::-webkit-search-cancel-button {
  display: none;
}

.mylct_layer .mylct_sch .mylct_sch_input.type_atcp {
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}

.mylct_layer .mylct_sch .mylct_sch_del {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 300;
  width: 40px;
  height: 40px;
  border: 0;
  line-height: 16px;
  background: 0 0;
  -webkit-appearance: none;
  appearance: none;
}

.mylct_layer .mylct_sch .mylct_sch_txt {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 19px;
  color: #555558;
  color: rgba(var(--gray30), 1);
  word-break: break-all;
  word-wrap: break-word;
}

.mylct_layer .mylct_sch .mylct_sch_txt strong {
  font-weight: 400;
  color: #fc4c4e;
  color: rgba(var(--emphasis), 1);
}

.mylct_layer .mylct_scroll {
  overflow: hidden;
  overflow-y: auto;
  max-height: 228px;
  border: 1px solid;
  border-color: #d9d9dc;
  border-color: rgba(var(--gray70), 1);
  border-width: 0 1px 1px 1px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  text-align: left;
}

.mylct_layer .mylct_tit3 {
  overflow: hidden;
  margin-top: 12px;
  font-size: 13px;
  line-height: 18px;
  color: #939396;
  color: rgba(var(--gray50), 1);
}

.mylct_layer .mylct_tit3 strong {
  float: left;
  font-weight: 400;
}

.mylct_layer .mylct_tit3 a {
  float: right;
}

.mylct_layer .mylct_lst {
  margin-top: 4px;
  text-align: left;
}

.mylct_layer .mylct_lst li {
  overflow: hidden;
  height: 36px;
  font-size: 15px;
  line-height: 36px;
  white-space: nowrap;
}

.mylct_layer .mylct_lst li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #555558;
  color: rgba(var(--gray30), 1);
}

.mylct_layer .mylct_lst li .mylct_ico_map {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  background-position: -20px 0;
  margin-right: 2px;
}

.mylct_layer .mylct_lst li .mylct_ells {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mylct_layer .mylct_lst2 li + li {
  border-top: 1px solid;
  border-color: #f7f7f9;
  border-color: rgba(var(--gray95), 1);
}

.mylct_layer .mylct_lst2 a {
  display: block;
  padding: 8px 12px;
  line-height: 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mylct_layer .mylct_lst2 span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #555558;
  color: rgba(var(--gray30), 1);
}

.mylct_layer .mylct_lst2 em {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 18px;
  color: #939396;
  color: rgba(var(--gray50), 1);
}

.mylct_layer .mylct_lst2 em .badge {
  display: inline-block;
  height: 13px;
  margin-right: 4px;
  padding: 0 3px;
  border: 1px solid;
  border-color: #939396;
  border-color: rgba(var(--gray50), 1);
  -webkit-border-radius: 50px;
  border-radius: 50px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 600;
  vertical-align: 0;
}

/* EOF */
